@import "tailwindcss";

:root {
  --accent: #ffffff;
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;
  --foreground: #ffffff;
}

@theme {
  --color-accent: var(--accent);
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);
}

body {
  background: var(--bg-primary);
  color: var(--foreground);
}

* {
  outline: none;
}

.nav-link {
  @apply hover:text-accent transition-all duration-200 not-first:border-l-4 border-accent pl-4;
}
